HOST_DAEMON_LISTEN=127.0.0.1:8088
HOST_DAEMON_ADMIN_TOKEN=replace_me
HOST_DAEMON_NODE_ID=b4a6b2f4-5f6f-4fd1-baa4-b7d241b49a06
HOST_DAEMON_NODE_NAME=galaxy-a02-gcp-relay
HOST_DAEMON_BINARY_FINGERPRINT=local-dev
